.verifictions{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px var(--main-margin-25px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.verifictions__row{
    width: 100%;
}

.verifictions__timerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verifictions__sendMessage{
    font-weight: 400;
    font-size: 16px;
    color:var(--main-color);
}

.verifictions__timer{
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
}

.verifictions__numbers{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verifictions__number{
    text-align: center;
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 5px;
    background: #FFFFFF;
    border: 1px solid #E5E5EC;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    transition: all ease-in-out 0.2s;
}

.verifictions__number:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

.verifictions__send--disabled{
    font-weight: 400;
    font-size: 16px;
    color:rgba(118, 118, 118, 1);
}