.authentication{
    box-sizing: border-box;
    margin: 0px var(--main-margin-25px);
}
.authentication__text-box{
    padding : 100px 0px 30px 0px;
}
.authentication__bold-text{
    font-size: 25px;
    font-weight: 700;

}

.authentication__small--text{
    font-weight: 400;
    font-size: 16px;
    color:var(--color-76);
}
.authentication__row{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.authentication__row:last-child{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 58px;
    border: 1px solid #E5E5EC;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-sizing: border-box;
}

.authentication__column{
    display: flex;
    align-items: center;
}

.authentication__column:last-child{
    box-sizing: border-box;
}

.authentication__column:last-child input{
    border : none;
    height: 45px;
    width: 60vw;
    font-size: 16px;
}
