/* 메인 요소들을 모아두는 CSS 입니다.
Main 컬러의 버튼, Main 로고 등등 */

.main-color__btn{
    width: 80vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 18px 20px;
    border-radius: 8px;
    background: var(--main-color);
    font-weight: 700;
    color : white;
    border: 1px solid var(--main-color);
    font-size: 17px;
  }