.App {
  text-align: center;
}


.start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-screen .start-screen__elements img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.start-screen .start-screen__elements h3{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
}


.start-screen .start-screen__elements span{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color : var(--color-76);
}


.margin-top-150 {
  margin-top: 150px;
}

.main-color__btn{
  width: 80vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 18px 20px;
  gap: 10px;
  border-radius: 8px;
  background: var(--main-color);
  font-weight: 700;
  color : white;
  border: 1px solid var(--main-color);
  font-size: 17px;
}

