@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");

/*Main Components Elements*/
@import url('./components/css/main.css');



:root{
  --main-font : "Pretendard";
  --main-color:#06C755; 
  --main-margin-25px: 25px;
  --color-76 : #767676;
}



body {
  margin: 0;
  font-family : var(--main-font); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
