
/* top */
.mg-t-5 {
  margin-top: 5px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-20{
  margin-top: 20px;
}
.mg-t-100 {
  margin-top: 100px;
}

.mg-t-150 {
    margin-top: 150px;
  }

.mg-t-200 {
  margin-top: 200px;
}

/* bottom  */
.mg-bt-5 {
  margin-bottom: 5px;
}

.mg-bt-10{
  margin-bottom: 10px;
}

.mg-bt-30{
  margin-bottom: 30px;
}

/* right */


/* left */


/* everything */