.register{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px var(--main-margin-25px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.register__row{
    width: 100%;
}

